body, header, nav, main, footer, h1, div, ul, figure, figcaption, section, article, aside, audio, video, img {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: black;
}


img, video {
    max-width: 100%;
    display: block;
}

/*style apply to all elements */
* {
    box-sizing: border-box;
}

header {
    top: 0;
    background-color: #000;
    height: 100px;
}

footer {
    text-align: center;

}
h1 {
    color: white;
    text-align: left;
}

header img {
    margin: 0 auto;
}

nav.mobile-nav {
    display: block;
}

.mobile-nav a {
    color: #fff;
    font-family: 'roboto slab', sans-serif;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    padding: 3%;
    display: block;
}

.mobile-nav a.menu-icon {
    display: block;
    position: absolute;
    right: 0%;
    top: 0%;
}

/*show mobile, hide tablet-desktop + menu-links id*/
.mobile {
    display: block;
}

.tablet-desktop, #menu-links {
    display: none;
}

/*style for main content*/
main {
    background-color: lightgrey;
    padding: 2%;
    font-size: 1.15em;
    font-family: 'roboto slab', sans-serif;
}


/*video {
    margin: 0 auto 4%;
}*/

.mobile h3 {
    text-shadow: 5px 5px 8px grey;
}

article {
    padding: 2%;
}

article h3 {
    text-align: center;
}

/*more article stuff*/

/*contact*/

/*media query for tablet*/
@media screen and (min-width: 630px), print {

   * .tablet-desktop {
        display: block;
    }

    .mobile, .mobile-nav {
        display: none;
    }

    header {
        padding-bottom: 2%;
        width: 25%;
    }

    nav {
        padding: 1%;
        margin-bottom: 1%;
        background-color: black;
    }

    nav ul {
        list-style-type: none;
        text-align: center;
    }

    nav li {
        font-size: 1.5em;
        font-family: 'roboto slab', sans-serif;
        display: inline-block;
        border-right: 1px solid #fff;
    }

    nav li:last-child {
        border-right: none;
    }

    nav li a {
        padding: 0.1em 0.75em;
        display: block;
        color: #fff;
        text-decoration: none;
    }

    nav li a:hover {
        color: blue;
        background-color: #fff;
        transform: scale(1);
    }

    main ul {
        margin: 0 0 4% 10%;
    }

    .grid {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 20px;
    }

   
    /*pic text*/
    
    /*home frame attributes*/

    .frame {
        position:relative;
        max-width: 590px;
        margin:2% auto;
    }
    .frame {
        opacity: 0.9;
    }

    .frame:hover {
        opacity: 1;
        box-shadow: 8px 8px 10px #808080;
        transform: translateY(10px);
    }

    main ul {
        margin: 0 0 4% 10%;
    }

    .grid {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 20px;
    }

    .pic-text {
        font-size: 1em;
        padding: 10px;
    }

    .pic-text {
        position: absolute;
        bottom: 0;
        background: rgba(0,0,0, 0.5);
        color: #fff;
        width: 100%;
        padding: 20px;
        text-align: center;
        font-family: Verdana, Arial, sans-serif;
        font-size: 1.5em;
        font-weight: bold;
    }

    /*aside*/

  .grid-item4 {
        grid-column: 1 / span 3;
    }

    .tel-num {
        font-size: 1.25em;
    }

    /*map*/

    #form {
        margin-top: 2%;
        background-color: lightgrey;
        padding: 2%;
    }

    #form h2 {
        text-align: center;
    }

    /*form elements style rules*/

    /*Tablet viewport table rules*/
    table {
        border: 1px solid black;
        border-collapse: collapse;
        margin: 0 auto;
        width: 100%;
    }

    /*other rules*/

    /*form element rules- tablet*/

}

/*media query desktop*/
@media screen and (min-width: 1015px), print {

    /*header*/
    header {
        width: 25%;
        float: left;
        padding-bottom: 0%;
    }

    /*nav*/
    nav {
        float: right;
        width: 70%;
        margin: 4em 1em 0 0;
    }

    nav ul {
        text-align: right;
    }

    nav li {
        border: none;
    }

    nav li a {
        padding: 0.5em 1em;
    }

    /*main*/
    main {
        clear: left;
    }

    main h2 {
        font-size: 1.8em;
        color: #000;
    }

    article h3 {
        font-size: 1.75em;
    }

    /*form elements*/

}

/*large desktop media query*/
@media screen and (min-width: 1921px) {
    #container {
        width: 1920px;
        margin: 0 auto;
    }

    table {
        width: 80%;
    }

}

/*media query for print*/
@media print {

    body {
        background-color: lightgrey;
        color: black;
    }
}

/*style rules for footer*/
footer p {
    font-size: 0.75em;
    text-align: center;
    color: white;
    padding: 0 1em;
}

footer p a {
    color: darkslateblue;
    text-decoration: none;
}
